@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-font: "Playfair Display", sans-serif;
    --primary-color: #798C87; 
}

body {
    background-color: var(--primary-color);
}

h1 {
    font-family: var(--primary-font);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    font-style: italic;
    color: white;
}

/* Navbar and Footer*/
.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.4s ease; 
}

.navbar-solid {
    background-color: #2F4036 !important;
    transition: background-color 0.3s ease;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

#main-navbar .nav-link {
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: #D9A796 !important;
}

.badge {
    font-size: 0.65rem; 
    line-height: 1;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

footer {
    background-color: #2F4036;
}

/* Sign up form */
.signup input {
    margin-bottom: 1rem;
}