{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-sm">
      <h1 class="text-center display-6">{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="d-flex justify-content-center">
          <button class="mr-2" type="submit">{% trans 'Sign Out' %}</button>
          <a href="{% url 'landing' %}" class="btn btn-secondary">Home</a>
        </div>
      </form>
    </div>
  </div>



{% endblock content %}
