{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--Add a small CSS block to apply the hero background using Django static-->
    <style>
        .hero {
            background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.7),  
                rgba(0, 0, 0, 0.2)   
            ), 
            url("{% static 'images/hero.jpg' %}");
            background-position: center;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
    <section class="hero hero d-flex align-items-center justify-content-center text-center">
        <div class="container">
            <h1 class="display-2 display-md-1 text-white fw-bold text-shadow">"Elegance in Bloom"</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-3">
            <div class="row align-items-center">
                <!-- Text Column-->
                 <div class="col-12 col-md-6 mb-4 mb-md-0 text-center text-md-start">
                    <h2 class="fw-bold">About Floral Fantasy</h2>
                    <p class="lead">
                    Founded in 2025, Floral Fantasy started as a small neighborhood flower stand. 
                    With a passion for creating beautiful arrangements and spreading joy, we’ve grown into a beloved local brand, 
                    crafting unique floral experiences for every occasion.
                    </p>
                    <a href="{% url 'products:product_list' %}" class="btn btn-success btn-lg">Shop Now</a>
                 </div>
                 <!-- Image Column -->
                  <div class="col-12 col-md-6 text-center">
                    <img src="{% static 'images/image1.jpg' %}" alt="floral arrangement" class="img-fluid">
                  </div>
            </div>
        </div>
    </section>

    <!-- Discount Notice -->
    <section class="discount-section py-4 mb-4 text-center">
        <div class="container">
            <p class="mb-2"><strong>Don't miss out!</strong> Use code <strong>SUMMER10</strong> to get 10% off your order.</p>
            <p>Limited time only!</p>
            <a href="{% url 'products:product_list' %}" class="btn btn-success">Shop Now</a>
        </div>
    </section>
{% endblock %}